name: CI Practice

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Say Hello
        run: echo "Hello, CI/CD!"
      - name: Run simple test
        run: |
          echo "1 + 1 = $((1 + 1))"
          if [ $((1 + 1)) -ne 2 ]; then
            exit 1
          fi

